<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="app-state-aware-behavior.html">

<script>
  AppStateBehaviorImpl = {

    observers: [
      'notifyStateElements(state.*)',
    ],

    properties: {
      // application state object
      state: Object,
    },

    listeners: {
      'update-state': 'updateState',
    },

    notifyStateElements: function(change) {
      this.get('application.stateElements').forEach((el) => {
        el.notifyPath(change.path, change.value, true)
      })
    },

    /**
     * updates application state object by merging on or more objects to state
     * @param {Object} e
     * @param {Object} updatedState
     */
    updateState: function(e, updatedState) {
      this.set('state', Object.assign({}, this.state, updatedState))
    },

    ready: function() {
      this.set('application.root', this);
    },
  }

  /** @polymerBehavior */
  AppStateBehavior = [
    AppStateBehaviorImpl,
    AppStateAwareBehavior,
  ]
</script>
