<script>
  /**
  * @polymerBehavior
  */
  AppStateBehavior = {

    properties: {
      // application state object
      state: Object
    },


    listeners: {
      'update-state': 'updateState',
    },

    /**
     * updates application state object by merging on or more objects to state
     * @param {Object} Event object
     * @param {Object} Updated state
     */
    updateState: function(e, updatedState) {
      this.set('state', Object.assign({}, this.state, updatedState));
    },

  }
</script>
