<link rel="import" href="../../bower_components/polymer/polymer.html">

<script>
  /**
  * @polymerBehavior
  */
  AppStateAwareBehavior = {

    properties: {
      /* holds a local copy of state */
      state: Object,
      /* application object to track root element and state elements */
      application: {
        type: Object,
        value: {
          root: null,
          stateElements: [],
        },
      },
    },

    getState: function() {
      return this.get('application.root.state')
    },

    attached: function() {
      this.push('application.stateElements', this)
      this.set('state', this.getState())
    },

  }
</script>
